Repository mulesoft/docs-mule-runtime, pull requests merged in 2021-08, with the labels that each got.

#2001 DOCS-11592 Add system prop for default Content-Type
  modules/ROOT/pages/dataweave-system-properties.adoc
Labels: DO NOT MERGE (YET), DataWeave

#2012 DOCS-11619-dw-example-xml-json-kt
  modules/ROOT/pages/_partials/cookbook-dw/perform-basic-transformation-ex2/inputs/payload.xml
  modules/ROOT/pages/_partials/cookbook-dw/perform-basic-transformation-ex2/out.json
  modules/ROOT/pages/_partials/cookbook-dw/perform-basic-transformation-ex2/transform.dwl
  modules/ROOT/pages/dataweave-cookbook-perform-basic-transformation.adoc
Labels: DataWeave

#2013 DOCS-11620-dw-namespace-example-kt
  modules/ROOT/pages/_partials/cookbook-dw/include-xml-namespaces-ex3/out.xml
  modules/ROOT/pages/_partials/cookbook-dw/include-xml-namespaces-ex3/transform.dwl
  modules/ROOT/pages/dataweave-cookbook-include-xml-namespaces.adoc
Labels: DataWeave

#2009 Docs 11487 cache update v4.3 cv
  modules/ROOT/pages/cache-scope-invalidate.adoc
  modules/ROOT/pages/cache-scope-strategy.adoc
Labels: DO NOT MERGE (YET), Mule
